@font-face {
  font-family: "Integral CF";
  src:
    url("../src/fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-medium.otf") format("opentype")
}

@font-face {
  font-family: "Satoshi";
  src:
    url("./fonts/satoshi-webfont/Satoshi-Medium.woff") format("woff")
}

:root{
  --max-width: min(100vw,1240px);
  --container-wrapper: clamp(320px, 100%, 1500px);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Satoshi;
}

a {
  text-decoration: none;
  color: black;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}


ul {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

a,
button,
input {
  cursor: pointer;
}

.banner{
  height: 38px;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* gap: 425px; */
  color: #fff;
  font-family: "Satoshi";
  font-weight: normal;
  font-size: 14px;
  width: var(--max-width);
}

.banner-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.banner__msg{
 margin: 0 auto;
}

.banner-link{
  color: #ffff;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: #fff;
  
}

.close{
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  border: none;
  background-color: inherit;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-icon{
  cursor: pointer;
}

.navigation{
  display: flex;
  align-items: center;
  gap: 40px;
  width: var(--max-width);
  margin: 24px;
  font-family: "Satoshi",sans-serif;
  overflow: hidden;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  list-style: none;
}

.nav-link{
  color: #000000;
  text-decoration: none;
}

.search{
  width: clamp(100px, 35vw, 500px);
}

.search-input{
  border: none;
  outline: none;
  padding: 5px 30px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 48px;
  border-radius: 62px;
  font-family: "Satoshi",sans-serif;

}

.header-btns{
  width: 62px;
  display: flex;
  justify-content: space-between;
}

.button{
  cursor: pointer;
}

.flex{
  display: flex;
}

.number{
  font-family: "Satoshi",sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #000000;
}

.subtitle{
  font-family: "Satoshi",sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.6);
}

.section-1-title{
  font-family: "Integral CF",sans-serif;
  font-weight: bold;
  font-size: 64px;
  max-width: 577px;
  line-height: 64px;
}

.section-1-subtitle{
  font-family: "Satoshi",sans-serif;
  line-height: 22px;
  max-width: 545px;
  color: hsla(0, 0%, 0%, 0.6);
}

.button-shop{
  width: 210px;
  height: 52px;
  background-color: #000000;
  border-radius: 62px;
  color: #FFFFFF;
  font-family: "Satoshi",sans-serif;
  font-size: 16px;
}

.section-1{
  background-image: url(./assets/section-1-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1440px 100%;
  height: 663px;
  background-color: #F2F0F1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.section-1-wrapper{
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.border-right{
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 32px;
}

.p-0-32{
  padding: 0 32px;
}
.mbottom-32{
  margin-bottom: 32px;
}
.mbottom-48{
  margin-bottom: 48px;
}
.mbottom-8{
  margin-bottom: 8px;
}

.mbottom-16{
  margin-bottom: 16px;
}

.loggos-wrapper{
  background-color: #000000;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.logos{
  width: var(--max-width);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: max-content;
  overflow: hidden;
  & svg{
    margin: 5px;
  }
}

.fontIntegral{
  font-family: "Integral CF",sans-serif;
}

.fontSatoshi{
  font-family: "Satoshi",sans-serif;
}

.hidden{
  display: none;
}

.section-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  /* justify-content: center; */
}

.section-2-title{
  font-size: 48px;
  font-weight: bold;
  margin-top: 72px;
  margin-bottom: 48px;
}


.price{
  font-weight: bold;
  font-size: 24px;
}

.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 36px;
  & a{
    display: block;
  }
}

.button-view-all{
  width: 218px;
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  font-size: 16px;
  margin-bottom: 64px;
}

.colorGrey{
  color: grey;
}
.colorLime{
  color: lime;
}

.min-height{
  height: 50px;
}

.star{
  position: absolute;
}
.star-2{
  right: 15vw;
  top: 30vh;
}

.star-1{
  top: 40vh;
  right: 50vw;
  scale: 1.2;
}

.section-4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

}

.section-4-wrapper{
  width: min(1239px,95vw);
  background-color: #F0F0F0;
  border-radius: 40px;
  min-height: 866px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 50px;
}

.section-4-title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  margin-top: 70px;
  margin-bottom: 64px;
}

.section-4-browse-style{
  display: grid;
  grid-template-columns: auto-fit 237px auto-fit;
  grid-template-rows: repeat(2,1fr);
  max-width: min(1000px,90vw);
  height: 75%;
  column-gap: 20px;
  row-gap: 20px;
  & > div{
    border-radius: 20px;
    cursor: pointer;
  }
  & img {
    object-fit: cover;
  }
}

.casual-style{
  background-color: white;
  grid-column: 1/2;
  width: 407px;
  /* height: 289px; */
  position: relative;
  overflow: hidden;
  & span{
    position: absolute;
  }
  & img {
    min-width: 100%;
    height: 100%;
  }
}

.formal-style{
  background-color: rgb(255, 255, 255);
  grid-column: 2/4;
  /* width: 684px;
  height: 289px; */
  position: relative;
  overflow: hidden;
  & span{
    position: absolute;
  }
  & img {
    min-width: 100%;
    height: 100%;
  }
}

.party-style{
  background-color: white;
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
  overflow: hidden;
  & span{
    position: absolute;
  }
  & img {
    min-width: 100%;
    height: 100%;
  }
  /* width: 684px;
  height: 289px; */
}

.gym-style{
  background-color: white;
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
  overflow: hidden;
  & span{
    position: absolute;
  }
  & img{
    margin-left: 60px;
    max-width: 100%;
    height: 100%;

  }
  width: 407px;
  
}

.style-title{
  font-size: 36px;
  font-weight: bold;
  margin: 25px 36px;
  display: inline-block;
}

.style-title::first-letter{
  text-transform: uppercase;
}

.section-5-title{
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;

}

.section-5{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  overflow-x: hidden;
}


.testimonials-wrapper{
  margin-bottom: 170px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
.testimonials-wrapper::before{
  content: "";
  min-width: 10vw;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(1px);

}
.testimonials-wrapper::after{
  content: "";
  min-width: 10vw;
  height: 240px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(1px);

}
.testimonial{
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  min-width: 400px;
  height: 240px;
  border-radius: 20px;
  padding: 32px 28px;
}

.section-5-text-wrapper{
  width: min(1239px,95vw);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.testimonial-star-wrapper{
  margin-bottom: 15px;
}
.testimonal-author-name{
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 12px;
}

.review{
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}


footer {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Satoshi;
  margin-top: 20px;
  margin-top: 50px;
}

.offer-wrapper {
  width: var(--container-wrapper);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 36px 0;
  background-color: #000000;
  border-radius: 20px;
  color: #fff;
  font-family: bold-Integral cf;
  z-index: 2;
  top: -90px;
  margin: auto;
  justify-content: space-around;
}

.offer-wrapper h1 {
  font-size: 30px;
  width: clamp(270px, 100%, 511px);
}

.offer-btns {
  width: clamp(311px, 100%, 349px);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.offer-btns div:nth-child(1) {
  display: flex;
  gap: 12px;
  background-color: #FFF;
  padding: 12px 0 12px 16px;
  border-radius: 62px;
  width: clamp(311px, 100%, 349px);
}

.offer-btns div:nth-child(1) input::placeholder {
  color: #00000066;
}

.offer-btns button {
  background-color: #FFF;
  padding: 12px 0;
  text-align: center;
  border-radius: 62px;
  color: #000000;
  font-size: 1rem;
  width: clamp(311px, 100%, 349px);
  margin: auto;
}

.footer-container {
  background-color: #F0F0F0;

  width: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  padding: 140px 16px 75px 16px;
}

.footer-container-wrapper {
  width: var(--container-wrapper);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
  border-bottom: 1px solid #0000001A;
}

.footer-content-item:nth-child(1) {
  width: 248px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;

  color: #00000099;
  font-size: 14px;
  font-weight: 400;
}

.social-ico {
  display: flex;
  gap: 8px;
}

.footer-content-item:nth-child(1) span {
  border: 1px solid #00000033;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 26px;

  cursor: pointer;
  transition: .2s ease;
}

.footer-content-item:nth-child(1) span:hover {
  background-color: #314f4a33;
}

.footer-content-item:nth-child(1) span:nth-child(2) {
  background-color: #000000;
}

.footer-content-item h2 {
  font-family: bold-Integral CF;
  font-size: 33px;
  color: #000000;
}

.footer-content-item h3 {
  letter-spacing: 3px;
  margin-bottom: 16px;
}

.footer-content-item:not(.footer-content-item:nth-child(1)) ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-content-item:not(.footer-content-item:nth-child(1)) ul a {
  color: #00000099;
  font-size: 1rem;
}

.footer-pay {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  color: #00000099;
  font-size: 14px;
  flex-wrap: wrap;
  gap: 16px;
}

.pay-card {
  display: flex;
  gap: 12px;
}

.pay-card span {
  width: 46px;
  height: 30px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.22px solid #D6DCE5;
  cursor: pointer;
  transition: .3s ease;
}

.pay-card span:hover {
  background-color: rgba(128, 128, 128, 0.479);
}



/* .footer-wrapper{
  background-color: #F0F0F0;
  width: 100%;
  height: 499px;
}

.subscribe-block{
  transform: translateY(-50%);
  width: min(1240px,95vw);
  padding: 36px 64px;
  background-color: black;
  margin: 0 auto;
  border-radius: 20px;
} */

@media (width < 900px) {
  .search{
    display: none;
  }
  .nav-list{
    display: none;
  }
  .header-btns{
    display: none;
  }
  .section-4-browse-style{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    & div{
      grid-column: auto;
      grid-row: auto;
      height:max-content;
      max-width: 95vw;
    }
  }

}

@media  (width < 1200px) {
  .star{
    display: none;
  }
  .card-wrapper{
    justify-content: center;
  }
  
}


@media only screen and (max-width: 1080px) {
  .nav-list {
      display: none;
  }

  .offer-wrapper {
      flex-wrap: wrap;
      gap: 32px;
      justify-content: center;
      width: 700px;
  }

  .offer-text {
      display: flex;
      justify-content: center;
  }

  .footer-content-item:not(.footer-content-item:nth-child(1)) ul {
      width: 100px;
  }

  

  .product-info ul li {
      width: 123px;
  }

  .review-content {
      grid-template-columns: 1fr;
  }

  .tshirt-card-wrapper {
      flex-wrap: wrap;
  }


  .clothe-review {
      margin: 20px 0;
  }

  .review-navigation-btns button {
      font-size: 12px;
  }

  .review-navigation-content h6 {
      font-size: 20px;
  }

  .product-info ul li {
      font-size: 1rem;
  }

  .tshirt-container-wrapper h2 {
      text-align: center;
  }

  .review-navigation-btns button:nth-child(2) {
      display: none;
  }

  .clothe-size-title {
      font-size: 14px;
  }

  .clothe-addCart-btn div:nth-child(1) button img {
      width: 15px;
      height: 15px;
  }

  .footer-content {
      gap: 40px;
      margin-top: 60px;
      justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .offer-wrapper {
      width: 640px;
  }
}

@media only screen and (max-width: 660px) {
  .banner__msg {
      font-size: 12px;
  }

  .offer-wrapper {
      width: 780px;
  }

  .offer-wrapper h1 {
      text-align: center;
  }

  .offer-wrapper {
      width: 320px;
  }

  .offer-btns button {
      width: 300px;
  }

  .offer-btns div:nth-child(1) {
      width: 300px;
      margin: auto;
  }

  .product-info ul li {
      font-size: 14px;
  }

  .offer-wrapper h1 {
      font-size: 24px;
  }

  .company-name {
      font-size: 25px;
  }

  .clothe-size>div {
      justify-content: space-evenly;
  }

  .clothe-size-title {
      font-size: 8px;
  }

  .clothe-card {
      display: grid;
      grid-template-rows: 200px 123px;
      grid-template-columns: repeat(3, minmax(100px, 133px));
      gap: 14px;
      justify-content: center;
  }

  .card {
      justify-content: center;
      display: flex;
      margin: 0 16px;
  }

  .clothe-img {
      border-radius: 20px;
      cursor: pointer;
  }

  .clothe-img:nth-child(2) {
      grid-column: span 3;
      order: 1;
  }

  .clothe-img:nth-child(1) {
      order: 2;
  }


  .clothe-img:nth-child(3) {
      order: 3;
  }

  .clothe-img:nth-child(4) {
      order: 4;
  }

  .footer-content {
      margin-top: 90px;
  }

  .footer-pay {
      justify-content: center;
  }
}